body {
  padding: 0;
  margin: 0;
}

.margin {
  margin: 100px;
}
.table {
  text-align: left;
  width: 100%;
}

.table  td {
  padding: 10px 0;
}

.Menu {
  background-color: #253A46;
  padding: 20px;
  font-size: 20px;
}

.Menu a {
  color: white;
  padding-right: 50px;;
}